@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "BlackHanSans";
    src: url("/src/assets/fonts/BlackHanSans-Regular.ttf");
}

@font-face {
  font-family: "IBM-Regular";
  src: url("/src/assets/fonts/IBMPlexSansKR-Regular.ttf");
}

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }